label {
    color: purple;
    text-transform: uppercase;
}
input {
    background-color: bisque;
    outline: none;
    border: none;
}

.complete {
    text-decoration: line-through;
    background-color: plum;
}

.incomplete{
    background-color:aquamarine;
}